@import "tailwindcss";

/* Custom Cursor Styles */
:root {
  --cursor-x: -100px;
  --cursor-y: -100px;
}

html, body {
  cursor: none !important;
}

.custom-glowing-cursor {
  position: fixed;
  left: var(--cursor-x);
  top: var(--cursor-y);
  width: 14px;
  height: 14px;
  background-color: #5eead4;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 99999;
  box-shadow: 0 0 15px #5eead4, 0 0 30px #5eead4;
  transition: width 0.1s, height 0.1s;
}